* {
  box-sizing: border-box;
}

html {
  min-height: 100vh;
}

body {
  font-family: sans-serif;
  background: #eeeeee;
  color: #000000;
  font-weight: bold;
  margin: 0;
}

.unselectable {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #111111;
    color: #ffffff;
  }
}
