.section {
  display: flex;
  justify-content: space-between;
}

.section > div:nth-of-type(1) {
  padding-left: 2em;
  text-align: left;
}

.section > div:nth-of-type(2) {
  padding-right: 2em;
  text-align: right;
}

.selector {
  font-family: sans-serif;
  font-weight: bold;
  padding: 1em 0.5em;
  border-radius: 0.5em;
  margin: 1em 0;
}

.selector:focus {
  outline: none;
}

.selector option {
  font-family: sans-serif;
  font-weight: bold;
}
