.bar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  padding: 1em;
  width: 100%;
  pointer-events: none;
}

.bar .left, .bar .right {
  display: flex;
  gap: 0.5em;
}

.button {
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4em;
  height: 4em;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  pointer-events: auto;
}

.right .note {
  text-align: right;
  right: 5.5rem;
}

.note {
  position: fixed;
  font-size: 0.75em;
  bottom: 1.5rem;
  color: rgba(0, 0, 0, 0.25);
}

@media (prefers-color-scheme: dark) {
  .note {
    color: rgba(255, 255, 255, 0.25);
  }
}
