.bar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  padding: 1em;
  width: 100%;
  pointer-events: none;
}

.bar .left, .bar .right {
  display: flex;
  gap: 0.5em;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4em;
  height: 4em;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  pointer-events: auto;
}
