.soundboard {
  display: flex;
  justify-content: center;
}

.soundboard > div {
  margin: 1em;
}

.contextmenu {
  --contexify-menu-padding: 0.75em;
  --contexify-itemContent-padding: 0.75em;
  --contexify-activeItem-color: #000000;
  --contexify-activeItem-bgColor: rgba(0, 0, 0, 0.05);
}

@media (prefers-color-scheme: dark) {
  .contextmenu {
    --contexify-activeItem-color: #ffffff;
    --contexify-activeItem-bgColor: rgba(255, 255, 255, 0.05);
  }
}
