.soundboard {
  display: flex;
  justify-content: center;
}

.soundboard > div {
  margin: 1em;
}

.contextmenu {
  --contexify-menu-padding: 0.75em;
  --contexify-itemContent-padding: 0.75em;
  --contexify-activeItem-bgColor: rgba(255, 255, 255, 0.25);
}
