.container {
  display: inline-block;
  position: relative;
}

.main {
  background: rgba(255, 255, 255, 0.25);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  padding: 1em 4em;
  width: 100%;
  border-radius: 0.5em;
  margin-bottom: 0.5em;
  border-bottom: 0.25em solid rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.main .name {
  transform: translateY(5%);
}

.main .emoji {
  font-size: 1.5em;
}

.main > div {
  display: inline-block;
}

.preview {
  background: rgba(255, 255, 255, 0.25);
  position: absolute;
  font-size: 0.5em;
  bottom: 1rem;
  left: 0.25rem;
  border-radius: 0.5em;
  padding: 0.5em 1em;
  cursor: pointer;
  transition: box-shadow 0.25s;
}

.preview:hover {
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.25);
}
